APP_MODE="production"
APP_URL="http://127.0.0.1:8000"


DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="fearless"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
ALLOWED_HOSTS="127.0.0.1"


SENDER_EMAIL = 'saurabhnakoti.geektech@gmail.com' 
EMAIL_HOST = 'smtp.gmail.com'  
EMAIL_PORT = 587  
EMAIL_USE_TLS = True
EMAIL_USE_SSL = False
EMAIL_HOST_USER = 'saurabhnakoti.geektech@gmail.com'
EMAIL_HOST_PASSWORD = 'vjktfzrkjnhvjson'